<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registratre o Inicia Sesión</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <article class="logo">
      <img
        src="css/img/LogoPrincipal.jpg"
        alt="_Nombre de la Empresa"
      />
      <h3 class="title">
        <a href="#">Genesis Bienes Raices</a>
      </h3>
    </article>
    <article class="help">
      <h3>?</h3>
    </article>
  </header>

  <main class="main">
    <div class="overlay">
      <article class="container">
        <div class="forma">
          <h2>Seleccione un metodo de inicio de sesión</h2>
          <form action="" class="form">
            <div class="row">
              <a href="/signup" class="a-input-btn">Registrarse</a>
            </div>
            <div class="row">
              <a href="/signin" class="a-input-btn green">Iniciar Sesión</a>
            </div>
          </form>
        </div>
      </article>
    </div>
  </main>

</body>
</html>