<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Hello, world!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <style>
    #sidebar {
      width: 20%;
      height: 100vh;
      background: #343a40;
    }
  </style>
</head>

<body>
  <div class="d-flex">
    <div id="sidebar">
      <div class="p-2">
        <a href="#" class="navbar-brand text-center text-light w-100 p-4 border-bottom">
          Genesis Bienes Raices
        </a>
      </div>
      <div id="sidebar-accordion" class="accordion">
        <div class="list-group">
          <a href="#dashboard-items" data-toggle="collapse" aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light">
            <i class="fa fa-user mr-3" aria-hidden="true"></i>Personas
          </a>
          <div id="dashboard-items" class="collapse" data-parent="#sidebar-accordion">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              <i class="fa fa-user mr-3" aria-hidden="true"></i> Cliente
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              <i class="fa fa-user mr-3" aria-hidden="true"></i> Asesor
            </a>

          </div>
          <a href="#profile-items" data-toggle="collapse" aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light">
            <i class="fa-regular fa-house"></i>Bienes Raices
            
          </a>
          <div id="profile-items" class="collapse" data-parent="#sidebar-accordion">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              Inmuebles
            </a
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              Caulidades y Caracteristica
            </a>
          </div>
          <a href="#setting-items" data-toggle="collapse" aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light">
            <i class="fa fa-cog mr-3" aria-hidden="true"></i>Contratos
          </a>
          <div id="setting-items" class="collapse" data-parent="#sidebar-accordion">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              Venta
              </a>
              <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
                Renta
              </a>
            </div>
 



          <a href="#dashboard-items2" data-toggle="collapse" aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light">
            <i class="fa fa-user mr-3" aria-hidden="true"></i>Seguimiento
          </a>
          <div id="dashboard-items2" class="collapse" data-parent="#sidebar-accordion">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              <i class="fa fa-user mr-3" aria-hidden="true"></i> Solicitud
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              <i class="fa fa-user mr-3" aria-hidden="true"></i> Rutas
            </a>


          </div>


          <a href="#dashboard-items3" data-toggle="collapse" aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light">
            <i class="fa fa-user mr-3" aria-hidden="true"></i>Reportes
          </a>
          <div id="dashboard-items3" class="collapse" data-parent="#sidebar-accordion">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              <i class="fa fa-user mr-3" aria-hidden="true"></i> Estaticos
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              <i class="fa fa-user mr-3" aria-hidden="true"></i> Personalizados
            </a>

          </div>



          <a href="#dashboard-items4" data-toggle="collapse" aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light">
            <i class="fa fa-user mr-3" aria-hidden="true"></i>Configuraciones
          </a>
          <div id="dashboard-items4" class="collapse" data-parent="#sidebar-accordion">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-light pl-5">
              <i class="fa fa-user mr-3" aria-hidden="true"></i> Matriz de usuario
            </a>
           

          </div>



          
          <a href="#dashboard-items5" data-toggle="collapse" aria-expanded="false"
            class="list-group-item list-group-item-action bg-dark text-light">
            <i class="fa fa-user mr-3" aria-hidden="true"></i>Ayuda
          </a>
          

        </div>
      </div>
    </div>
    <div class="content w-100">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-xl">
           

          <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mensajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" >Notificacion</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown"
                  aria-expanded="false">Otros</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07XL">
                  <a class="dropdown-item" href="#">Usuario conectados</a>
                  <a class="dropdown-item" href="#">Historial de actividades</a>
                  <a class="dropdown-item" href="#">Tasa de cambios</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
            </form>
          </div>
        </div>
      </nav>
      <section class="p-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Espacio para formulario</h2>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>